export(mcmc.estimate)
export(mcmc.converge)
export(DAYS.PER.MONTH)
export(logistic)
export(nine.month.pointmass)
export(constant.post.9mo)
export(g)
export(E.vacc)
export(get.prob.vacc)
export(get.E.vacc)
export(z.matrix)
export(w.matrix)
export(calc.camp.coverage)
export(ll.coverage)
export(ll.coverage.optim)
export(ll.coverage.optim.const.post.9m)
export(make.sample.pop)
export(vaccinate.sample.pop)
export(sim.n.vacc.sample.pop)
